
.wallet-tabs {
	font-size: 18px;
	border: 1px solid #979797;
	display: inline-flex;
	margin-bottom: 40px;
	border-radius: 2px;
}

.wallet-tabs--vertical {
	flex-direction: column;
	background: #fff;
}

.wallet-tabs__tab {
	/*border: 1px solid #979797;*/
	border: none;
	border-right: 1px solid #979797;
	background: none;
	color: #7c7c7c;
	cursor: pointer;
	padding: 10px 20px;
	text-transform: uppercase;
	outline:0;
}

.wallet-tabs--vertical .wallet-tabs__tab {
	border-right: none;
	border-bottom: 1px solid #979797;
}

.wallet-tabs__tab:last-child {
	border-right: none;
}

.wallet-tabs--vertical .wallet-tabs__tab:last-child {
	border-bottom: none;
}

.wallet-tabs__tab:focus {
	outline:0;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5)
}

.wallet-tabs--active {
	background: #9b9b9b;
	color: #fff;
}