
.button {
    text-decoration: none;
    color: #fff;
    border: 0;
    background: #438cef;
    padding: 7px 20px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    border-radius: 3px;
    font-size: 1em;
    font-family: Play;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    min-width: 105px;
    cursor: pointer;
}

.button:hover{
    opacity: 0.8;
}

.button--green {
    background: #3fb990;
}

.button--yellow {
    background: #f5a623;
}

.button--turquoise {
    background: #50e3c2;
}

.button--red {
    background: #D0021B;
}

.button--full-width {
    width: 100%;
}

.button--disabled {
    background: #e0e0e0;
}
