.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background: #2e3842;
    color: #fff;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.menuContainer--hide {
    left: -200px;
}


.menu-logo {
    margin: 40px;
}

.app-store-link {
    color: #fff;
    text-decoration: none;
    border: 1px solid #979797;    
    padding: 10px 20px;
}


.bookmarks {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    flex-grow: 1;
    overflow: scroll;
}

.bookmarks__item {
    padding-left: 24px;
    padding-right: 14px;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    flex-shrink: 0;
}

.bookmarks__item a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.bookmarks__remove-btn {
    margin: 0 0 0 auto;
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    border: none;
    background: url(./delete.svg) no-repeat center center;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
    border-radius: 50%;
}

.bookmarks__item:hover .bookmarks__remove-btn {
    opacity: 1;
    visibility: visible;
}

.bookmarks__remove-btn:focus {
    background: url(./delete-focus.svg) rgba(216, 216, 216, 0.2) no-repeat center center;
    outline: none;
}

.bookmarks__item:hover a {
    color: #438cef;
}


.AddMenuItem {
    /*background-color: #979797;*/
    position: relative;
    margin-top: 20px;
}

.AddMenuItem input {
    border: none;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    width: 150px;
}

.AddMenuItem__approve {
    position: absolute;
    top: 7px;
    right: 0;
    border: none;
    color: red;
}

.AddMenuItem__reject {
    position: absolute;
    top: 7px;
    right: 20px;
    border: none;
    color: green;
}


.ReportLinkContainer {
    height: 40px;
    flex-shrink: 0;
    padding-top: 10px;
}

.ReportLinkContainer a {
    color: #fff;
    text-decoration: none;
}


