.default-account {
    background-color: #cccccc;
}

.avatar {
    background: url(./robohash.jpg) no-repeat center center #fff;
    background-size: 80px 80px;
    width: 90px;
    height: 90px;
    z-index: 1;
}

.user-card {
    display: flex;
    align-items: center;
}

.user-card__avatar {
    width: 100px;
}

.WalletContainer {
    background: #eff3f6;
}

.WalletContainer__inner {
    width: 840px;
    margin: 0 auto;

}
