
.app {
	height: 100%;
	display: flex;
	flex-direction: column;
    transition: margin-left 0.3s;
}

.app--open-menu {
	margin-left: 200px;	
}


.app__header {
	min-height: 109px;
	flex-shrink: 0;
	flex-grow: 0;
	background: #438cef;
	color: #fff;
	transition: min-height 1s;
	display: flex;
	align-items: center;
}

.app__header.app__header--open {
	min-height: 550px;	
}

.app__header-container {
	width: 100%;
}


.app__content.app__content--hidden {
	flex-basis: 0;
	flex-grow: 0;
	height: 0;
	overflow: hidden;
}


.app__content {
	flex: 1 auto;
	height: 100%;
	background: #eff3f6;
}