@import url('https://fonts.googleapis.com/css?family=Play');

.id-bar {
	display: flex;
	justify-content: space-between;
	width: 150px;
	align-items: center;
}

.id-bar__settings {
  width: 20px;
  height: 20px;
  background: url(./settings.svg) no-repeat center center;
  border: none;
  text-indent: -999999px;
  cursor: pointer;
}

.id-bar__wallet {
  width: 20px;
  height: 20px;
  background: url(./wallet.svg) no-repeat center center;
  border: none;
  text-indent: -999999px;
  cursor: pointer;
}

.id-bar__user {
  width: 37px;
  height: 37px;
  background: #eff3f6;
  border-radius: 50%;
  cursor: pointer;
  background: url(./robohash.jpg) no-repeat center center #eff3f6;
  background-size: 30px 30px;
}

.user-popup__container {
	position: relative;
}

.user-popup {
    font-family: 'Play', sans-serif;
	position: absolute;
    width: 495px;
	background: white;
	color: #000;
    border-radius: 5px;
    box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.14);
	bottom: -110px;
	right: -5px;
	display: none;
	padding: 20px;
	box-sizing: border-box;
    z-index: 2;
}

.user-popup:before {
    position: absolute;
    bottom: 90px;
    right: 15px;
    content: '';
    width: 0.73em;
    height: 0.73em;
    background: #FFFFFF;
    transform: rotate(45deg);
}

.user-popup--open {
	display: block;
}
