

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.navigation__left {
	width: 150px;
	transition: visibility 1s, opacity 1s;
	opacity: 1;
	visibility:visible;
}

.navigation--hide-lr .navigation__left {
	opacity: 0;
	visibility:hidden;
}

.navigation__right {
	width: 150px;
	flex-grow: 0;
	transition: visibility 1s, opacity 1s;
	opacity: 1;
	visibility:visible;
}

.navigation--hide-lr .navigation__right {
	opacity: 0;
	visibility:hidden;
}

.navigation__center {
    flex-grow: 1;
    max-width: 770px;
}

.MenuButton {
	text-indent: -99999px;
	border: none;
	background: none;
	width: 24px;
	height: 17px;
	display: flex;
	flex-direction: column;
	padding: 0;
	justify-content: space-between;
	cursor: pointer;
	width: 24px;
	align-items: center;
}

.MenuButton.MenuButton--open {
	transform: rotate(90deg);
	margin-top: 20px;
}



.MenuButton_line1 {
	background: #fff;
	width: 24px;
	height: 2px;
}

.MenuButton_line2 {
	background: #fff;
	width: 24px;
	height: 2px;
}

.MenuButton_line3 {
	background: #fff;
	width: 24px;
	height: 2px;
}

.MenuButton--open .MenuButton_line1 {
	width: 2px;
	border: 2px solid #fff;
	border-radius: 50%;
}

.MenuButton--open .MenuButton_line2 {
	width: 2px;
	border: 2px solid #fff;
	border-radius: 50%;
}

.MenuButton--open .MenuButton_line3 {
	width: 2px;
	border: 2px solid #fff;
	border-radius: 50%;
}
