
.NavigationContainer {
	display: flex;
}

.SearchInput {

	width: 100%;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 2px;
	border: none;
	font-size: 16px;
	color: #fff;
	padding: 14px 20px;
	/*padding-right: 60px;*/
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
	font-weight: bold;
  text-align: center;
}

.BackButton {
	width: 40px;
	padding: 0;
	margin-right: 10px;
}

.ForwardButton {
	width: 40px;
	padding: 0;
	margin-left: 10px;
}