
.NavigationContainer {
	display: flex;
}

.SearchInput {

	width: 100%;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 2px;
	border: none;
	font-size: 16px;
	color: #fff;
	padding: 5px 20px;
	/*padding-right: 60px;*/
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
	font-weight: bold;
  text-align: center;
}

.SearchInput:focus {
	-webkit-app-region: no-drag;
}

.BackButton {
	width: 30px;
	height: 30px;
	padding: 0;
	margin-right: 10px;
	background: rgba(255, 255, 255, .15) url(./baseline-arrow-back-24-px.svg) center center;
	border: none;
}

.ForwardButton {
	width: 30px;
	height: 30px;
	padding: 0;
	margin-left: 10px;
	background: rgba(255, 255, 255, .15) url(./baseline-arrow-forward-24-px.svg) center center;
	border: none;
}

.BackButton:disabled {
	opacity: 0.5;
}

.ForwardButton:disabled {
	opacity: 0.5;
}

