@import url('https://fonts.googleapis.com/css?family=Play');

body {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body, html, #root {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.form-input {
    width: 400px;
    margin-bottom: 40px;
}

