
.RootRegistry {
	width: 850px;
	margin: 0 auto;
}

.rr__table {
	background: #fff;
	table-layout: fixed;
	border-collapse: collapse;
	box-shadow: 1px 2px rgba(0, 0, 0, 0.14);
}

.rr__table th {
	border-bottom: 1px solid #dedede;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #7c7c7c;
	font-family: 14px;
	text-align: left;
}

.addRow td {
	padding-bottom: 20px;
}

